/src/gentableforGAP
/lib/highlevel_mappings.g
/lib/highlevel_mappings_table.g
/src/highlevel_mappings.g
/src/highlevel_mappings_table.g

/src/lowlevel_mappings_src.h
/src/lowlevel_mappings_src.g
/src/lowlevel_mappings.cc
/src/lowlevel_mappings.h
/src/lowlevel_mappings_table.h

/src/pkgconfig.h
/src/stamp-h1
/libtool
/src/.deps
/src/.libs/
*.la
*.lo
/src/Makefile
/Makefile
/config.log
/config.status
/SINGARCHNAME
/SINGULARPATH
/src/lib

/Singular-3-1-6.tar.gz
/Singular-3-1-6

doc/chap*.txt
doc/chap*.html
doc/libsing.idx
doc/libsing.log
doc/libsing.out
doc/libsing.tex
doc/manual.pdf
doc/manual.six
src/bin/
