/src/gentableforGAP
/lib/highlevel_mappings.g
/lib/highlevel_mappings_table.g
/src/highlevel_mappings.g
/src/highlevel_mappings_table.g

/src/lowlevel_mappings_src.h
/src/lowlevel_mappings_src.g
/src/lowlevel_mappings.cc
/src/lowlevel_mappings.h
/src/lowlevel_mappings_table.h

/src/pkgconfig.h
/src/stamp-h1
/libtool
/src/.deps
/src/.libs/

/doc/chap*.txt
/doc/*.html
/doc/*.css
/doc/*.js
/doc/AutoDocMainFile.xml
/doc/SingularInterface.xml
/doc/title.xml
/doc/doxygen/
/doc/SingularInterface.aux
/doc/SingularInterface.bbl
/doc/SingularInterface.blg
/doc/SingularInterface.idx
/doc/SingularInterface.ilg
/doc/SingularInterface.ind
/doc/SingularInterface.log
/doc/SingularInterface.out
/doc/SingularInterface.pnr
/doc/SingularInterface.tex
/doc/SingularInterface.toc
/doc/manual.lab
/doc/manual.pdf
/doc/manual.six
/doc/Chapter_Introduction.xml

*.so
*.la
*.lo
*.o
Makefile
/config.log
/config.status
/Makefile.in
/aclocal.m4
/cnf/compile
/cnf/config.guess
/cnf/config.sub
/cnf/depcomp
/cnf/install-sh
/cnf/ltmain.sh
/cnf/missing
/cnf/test-driver
/test-suite.log
/test.sh.log
/test.sh.trs
/configure
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/src/Makefile.in

/autom4te\.cache/
/singular/
/singular-*.tar.gz

