SINGULARPATH
lib/highlevel_mappings.g
lib/highlevel_mappings_table.g
libtool
src/bin/
src/gentableforGAP
src/highlevel_mappings.g
src/highlevel_mappings_table.g
src/lib/
src/libsing.la
src/libsing_la-cxxfuncs.lo
src/libsing_la-libsing.lo
src/libsing_la-lowlevel_mappings.lo
src/lowlevel_mappings.cc
src/lowlevel_mappings.h
src/lowlevel_mappings_src.h
src/lowlevel_mappings_table.h
src/pkgconfig.h
src/stamp-h1
