Frank Lübeck <Frank.Luebeck@math.rwth-aachen.de>
Hans Schönemann <hannes@mathematik.uni-kl.de>
Max Horn <max@quendi.de>
Max Neunhöffer <neunhoef@mcs.st-and.ac.uk>
Mohamed Barakat <mohamed.barakat@rwth-aachen.de>
Oleksandr Motsak <http://goo.gl/mcpzY>
